<!DOCTYPE HTML>
<html lang="en">
<head>
<!-- Force latest IE rendering engine or ChromeFrame if installed -->
<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
<meta charset="utf-8">
<title>Django Sentimental Analysis Demo - alpha version</title>
<meta name="description" content="File Upload widget with multiple file selection, drag&amp;drop support and progress bar for jQuery. Supports cross-domain, chunked and resumable file uploads. Works with any server-side platform (PHP, Python, Ruby on Rails, Java, Node.js, Go etc.) that supports standard HTML form file uploads.">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap styles -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<!-- Generic page styles -->
<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.fileupload-ui.css">
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-fixed-top .navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="https://www.wipro.com">Wipro</a>
        </div>
<!--        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Demo</a></li>
                <li><a href="https://github.com/sigurdga/django-jquery-file-upload">Source Code</a></li>
                <li><a href="https://github.com/blueimp/jQuery-File-Upload/wiki">Documentation</a></li>
            </ul>
        </div>-->
    </div>
</div>
<div class="container">
    <h1>Optimization and Monitoring</h1>
    <h2 class="lead">alpha version</h2>
    <ul class="nav nav-tabs">
        <li class="active"><a href="/upload/basic">Sentimental Analysis</a></li>
<!--        <li><a href="/upload/basic/plus">Basic Plus</a></li>-->
        <li><a href="/upload/new">Basic Plus UI</a></li>
<!--        <li><a href="/upload/angular">AngularJS</a></li>
        <li><a href="/upload/jquery-ui">jQuery UI</a></li>-->
    </ul>
    <br>
    <blockquote>
        <p>Upload the file you want to perform Sentimental Analysis for!</p>
    </blockquote>
    <br>
		<!-- Upload form. Note enctype attribute! -->
		<form id="fileupload" action="." method="post" enctype="multipart/form-data">{% csrf_token %}
			<div class="row fileupload-buttonbar">
		            <div class="col-lg-7">

<!--				<p>{{ form.non_field_errors }}</p>
				<p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
				<p>{{ form.docfile.errors }}</p>-->
				<span class="btn btn-success fileinput-button">
                        	<i class="glyphicon glyphicon-plus"></i>
				<span>Select files...</span>
				   {{ form.docfile }}
				</span>
				<button type="submit" class="btn btn-primary start">
        	        	    <i class="glyphicon glyphicon-upload"></i>
                	    	    <span>Start upload</span>
	                	</button>
				{% if documents %}
				      <button type="submit" class="btn btn-info start">
        	        	         <i class="glyphicon glyphicon-play"></i>
	                      	    	 <span><a href="/upload/result" style="color:inherit;text-decoration:none">Analyse</a></span>
	                	      </button>
				{% endif %}

<!--			<p><input id="fileupload" type="submit" name="file" value="Upload" /></p> -->
			   </div>
			</div>
		<br>
		<div class="progress">
        		<div class="progress-bar progress-bar-success" {% if documents %}style="width:100%"{% endif %} role="progressbar" aria-valuetransitiongoal="100"></div>
    		</div> 
    <!-- The container for the uploaded files -->
    <div id="files" class="files">
		{% if documents %}
			<ul>
			{% for document in documents %}
				<li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>
			{% endfor %}
			</ul>
		{% else %}
			<p>No documents.</p>
		{% endif %}

    </div>
		<!-- The table listing the files available for upload/download -->
		        <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
		</form>
<!-- List of uploaded documents -->
		
		<table class ="table">
			<thead>
			   <tr>
			     <th>HOST</th>
			     <th>STATE</th>
			   </tr>
			</thead>
			{% for x,y in command %}
			    <tr>
			     <th>{{ x }}</th>
			     <th>{{ y }}</th>
			    </tr>
			{% endfor %}
		</table>
    <!-- The fileinput-button span is used to style the file input field as button -->
<!--    <span class="btn btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Select files...</span>
        <!-- The file input field used as target for the file upload widget -->
        <!--input id="fileupload" type="file" name="file" multiple-->
    </span>
    <br
    <br>
    <!-- The global progress bar -->
    <!--div id="progress" class="progress">
<!--        <div class="progress-bar progress-bar-success"></div>
    </div> -->
    <!-- The container for the uploaded files -->
    <div id="files" class="files"></div>
    <br>
<!--    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Demo Notes</h3>
        </div>
        <div class="panel-body">
            <ul>
                <li>You can <strong>drag &amp; drop</strong> files from your desktop on this webpage (see <a href="https://github.com/blueimp/jQuery-File-Upload/wiki/Browser-support">Browser support</a>).</li>
                <li>Please refer to the <a href="https://github.com/blueimp/jQuery-File-Upload">project website</a> and <a href="https://github.com/blueimp/jQuery-File-Upload/wiki">documentation</a> for more information.</li>
                <li>Built with Twitter's <a href="http://twitter.github.com/bootstrap/">Bootstrap</a> CSS framework and Icons from <a href="http://glyphicons.com/">Glyphicons</a>.</li>
            </ul>
        </div>
    </div>-->
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="{{ STATIC_URL }}js/vendor/jquery.ui.widget.js"></script>
<!-- The Templates plugin is included to render the upload/download listings -->
<script src="{{ STATIC_URL }}js/tmpl.min.js"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="{{ STATIC_URL }}js/load-image.min.js"></script>
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<script src="{{ STATIC_URL }}js/canvas-to-blob.min.js"></script>
<!-- Bootstrap JS is not required, but included for the responsive demo navigation -->
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<!-- blueimp Gallery script -->
<script src="{{ STATIC_URL }}js/jquery.blueimp-gallery.min.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="{{ STATIC_URL }}js/jquery.iframe-transport.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-progressbar.js"></script>
<!-- The basic File Upload plugin -->
<script src="{{ STATIC_URL }}js/jquery.fileupload.js"></script>
<!-- The File Upload processing plugin -->
<script src="{{ STATIC_URL }}js/jquery.fileupload-process.js"></script>
<!-- The File Upload image preview & resize plugin -->
<script src="{{ STATIC_URL }}js/jquery.fileupload-image.js"></script>
<!-- The File Upload audio preview plugin -->
<script src="{{ STATIC_URL }}js/jquery.fileupload-audio.js"></script>
<!-- The File Upload video preview plugin -->
<script src="{{ STATIC_URL }}js/jquery.fileupload-video.js"></script>
<!-- The File Upload validation plugin -->
<script src="{{ STATIC_URL }}js/jquery.fileupload-validate.js"></script>
<!-- The File Upload user interface plugin -->
<script src="{{ STATIC_URL }}js/jquery.fileupload-ui.js"></script>
<!-- The main application script -->
<script src="{{ STATIC_URL }}js/main.js"></script>
<script src="{{ STATIC_URL }}js/locale.js"></script>
<script src="{{ STATIC_URL }}js/csrf.js"></script>
<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE8+ -->
<!--[if gte IE 8]>
<script src="{{ STATIC_URL }}js/cors/jquery.xdr-transport.js"></script>
<![endif]-->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<!-- Bootstrap JS is not required, but included for the responsive demo navigation -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
<!--script>
/*jslint unparam: true */
/*global window, $ */
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$(function () {
    'use strict';
    // Change this to the location of your server-side upload handler:
    var url = '/upload/basic/';
    var csrftoken = $.cookie('csrftoken');
    $('#fileupload').fileupload({
        url: url,
        crossDomain: false,
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        },
        dataType: 'json',
        done: function (e, data) {
            $.each(data.result.files, function (index, file) {
                $('<p/>').text(file.name).appendTo('#files');
            });
        },
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .progress-bar').css(
                'width',
                progress + '%'
            );
        }
    }).prop('disabled', !$.support.fileInput)
        .parent().addClass($.support.fileInput ? undefined : 'disabled');
});
</script-->
</body> 
</html>
